body {
    background-color: 363636;
    height: 100% ;
    color: white;
    text-align:  center;
    margin: 100;
    font-size: 120%;
    background-attachment: fixed;
}
.logo {
    position: fixed; /* Фиксированное положение */
    bottom: 0; left: 0; /* Левый нижний угол */
    background-color: 262626; /* Цвет фона */
    float: right;
    color: #f2f2f2;
    overflow: hidden;
    width: 100%;
}
.white {
    position: absolute;
    font-family: 'MinecraftiaRegular';
    font-weight: 600;
    font-style: normal;
    font-size: 60;
    left: -450px;
    text-align: left;
    color: aliceblue;
}
.image {
    position: absolute;
    width: 700px;
    right: 40px;
}
.topnav {
    position: absolute;
    top: 0; left:0 ;
    background-color: 262626;
    overflow: hidden;
    width: 100%;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}